@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
}

input[type="radio"] {
  /* display: none; */
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

label {
  display: inline-block;
  background-color: blue;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color: red;
}

input[type="radio"]:focus + label {
  border: 2px solid green;
}

@media (orientation: portrait) {
  .classic-tracker {
    @apply flex-col;
  }

  .classic-tracker .flipped {
    @apply transform rotate-90;
  }
  .classic-tracker .not-flipped {
    @apply transform -rotate-90;
  }

  .classic-tracker .w-full {
    @apply h-full w-auto;
  }

  .classic-tracker .w-1\/2 {
    @apply h-1/2 w-auto;
  }
  .classic-tracker .w-1\/3 {
    @apply h-1/3 w-auto;
  }
}
